html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}
nav {
  position: fixed;
  z-index: 2;
  height: 10vh;
  width: 100%;
  display: flex;
}
a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 25%;
  color: #393e46;
  background-color: #ffffff80;
  text-decoration: none;
  transition: background 0.5s ease-in;
}
nav a {
  backdrop-filter: blur(10px) saturate(130%);
}
nav a:hover {
  background: transparent;
}
#home,
#about,
#contact,
#project {
  height: 100vh;
}
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, #8280ff, #4f92ce);
  color: white;
}
#home p {
  opacity: 0;
  animation: 1s fadeIn forwards ease 1s;
}
.switch {
  cursor: pointer;
  padding: 5px;
  height: 10%;
  font-size: medium;
  position: absolute;
  right: 0;
  background: #ffffff4d;
  border: none;
  outline: none;
  border-radius: 30%;
}
.intro {
  display: none;
  flex-direction: column;
}
.intro h1:nth-child(1) {
  animation: 1s floatInBottom ease;
}
.intro h1:nth-child(2) {
  animation: 1s floatInTop ease;
}
.another-intro {
  position: relative;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  flex-direction: column;
  z-index: 0;
}
.main h1 {
  z-index: -1;
  position: absolute;
  width: 300px;
  transform: translateY(50px);
}
.main h1:nth-child(1) {
  animation: forwards ticker 1s ease, forwards tickerGo 1s ease 2s;
}
.main h1:nth-child(2) {
  animation: forwards ticker 1s ease 2s;
}
.top,
.bottom {
  z-index: 1;
  background-image: linear-gradient(to right, #648be2, #6d87eb);
}
.top,
.bottom,
.main {
  width: 300px;
  height: 50px;
}
#about {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #fb929e, #df9755);
}
.svg {
  width: 50%;
  height: auto;
  opacity: 0;
  filter: drop-shadow(0 0 20px #00000080);
}
.svg:nth-child(1) {
  width: 30%;
  margin-left: 10%;
}
#about p {
  margin-left: 10%;
  margin-right: 5%;
}
#project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, #6f6ddb, #4f92ce);
  color: white;
}
.projectContainer {
  display: flex;
  margin-top: 10%;
  justify-content: space-evenly;
}
#project a {
  background-color: #eeeeee75;
  box-shadow: none;
  width: 20%;
  border-radius: 20px;
  transition: box-shadow 1s ease, transform 1s ease;
}
#project a:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px #0000004d;
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to left, #fb929e, #df9755);
}
#contact p {
  margin-top: 100px;
}
.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.links p {
  display: none;
  padding: 5px;
  border-radius: 10px;
  position: absolute;
  background-color: #ffffff69;
}
.links a {
  cursor: pointer;
  height: 150px;
  width: 150px;
  background: transparent;
}
.links a:hover {
  filter: invert(20%);
}
.fade-in-class {
  animation: fadeIn 2s ease;
  animation-fill-mode: forwards;
}
@keyframes ticker {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes tickerGo {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-50px);
  }
}

@keyframes floatInTop {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes floatInBottom {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 900px) {
  .top,
  .bottom {
    background-image: linear-gradient(to right, #5d8de0, #6d89ed) !important;
  }
  #about {
    flex-direction: column;
    justify-content: space-around;
  }
  #about * {
    margin: 10% 20% !important;
  }
}
@media screen and (max-width: 600px) {
  nav a {
    height: 7vh;
  }
  .top,
  .bottom {
    background-image: linear-gradient(to right, #5590d6, #7487f2) !important;
  }
  #project,
  #contact,
  .projectContainer {
    flex-direction: column;
  }
  .svg {
    width: 50% !important;
  }
  .svg:nth-child(2) {
    width: 70% !important;
  }
  .projectContainer {
    height: 40vh;
    align-items: center;
    justify-content: space-around;
  }
  .projectContainer a {
    width: 150px !important;
  }
  #contact a {
    height: 100px;
    width: 100px;
  }
  #contact p {
    margin-top: 0;
  }
}
