html {
  overflow: hidden;
}
body {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/cover.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.navbar {
  width: 80%; 
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  margin: auto;
}
.navlinks {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.inactive,
.active {
  padding: 15px 20px;
  height: 60px;
  width: 170px;
  display: inline-block;
  border: solid white 2px;
  border-radius: 40px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  outline: none;
  transition: all .5s ease;
  cursor: pointer;
}
.active {
  background-color:rgba(139, 137, 137, 0.288);
}
.inactive:hover, .active:hover {
  color: #312D2A;
  border-color: transparent;
  box-shadow: 0 10px 20px #312d2a59;
}

.intro,
.about,
.reachMe,
.proj {
  display: block;
  width: 35%;
}
.intro {
  text-align: left;
}
.attr {
  text-align: center;
  animation-delay: 1s;
  font-weight: 500;
  background: none;
}
.about,
.reachMe,
.proj {
  padding: 20px;
  font-size: 12px;
  display: none;
}
.proj {
  width: 40%;
}
.about {
  width: 40%;
}
.reachMe {
  top: 15%;
  width: 30%;
}
.name {
  margin: auto;
  width: 200px;
}
h1 {
  animation: 1s floatInBottom ease;
  font-weight: 500;
  color: #f1f6f9;
  animation-fill-mode: forwards;
}
.name h1:nth-child(4) {
  animation: 1s floatInTop ease;
  color: #f1f6f9;
  animation-fill-mode: forwards;
}
p {
  padding: 20px;
  color: #36302D;
  font-size: 20px;
  animation: fadeIn 1s ease;
  opacity: 0;
  border-radius: 20px;
  animation-fill-mode: forwards;
  text-align: center;
}
.project {
  box-sizing: content-box;
  padding: 15px 20px;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  color: #E9E8E6;
  border: solid #E9E8E6 2px;
  font-weight: bold;
  border-radius: 40px;
  transition: all 1s ease;
  border-bottom-right-radius: 0px;
  animation: floatInBottom 0.5s ease;
  animation-fill-mode: backwards;
}
.project:hover{
  color: #322E2B;
  border-color: transparent;
  box-shadow: 0 10px 20px #312d2a8a;
  
}
.projectContainer {
  justify-content: center;
  margin-top: 20px;
  height: 100px;
  width: 100%;
}
.project:nth-child(1) {
  animation-delay: 1s;
}
.project:nth-child(2) {
  animation-delay: 1.5s;
}
.project:nth-child(3) {
  width: 100px;
  animation-delay: 2s;
}
hr {
  position: absolute;
  top: 80%;
  right: 0;
  left: 0;
  margin: auto;
  width: 30%;
  border-top: solid white 1px;
}
.contact {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 30%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
img:hover{
  filter: invert();
}
.discord {
  cursor: pointer;
  text-align: center;
}
#disId {
  animation: none;
  text-align: center;
  opacity: 0;
  padding: 5px;
  transition: all 0.5s ease;
}
.discord:hover #disId{
  opacity: 1;
}
a {
  text-decoration: none;
  color: #312D2A;
}
.contact a {
  margin: 0px 50px;
}
@keyframes floatInTop {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes floatInBottom {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 1050px) {
  .navlinks {
    align-items: center;
  }
  .navlinks li a {
    width: 150px;
    height: 55px;
    font-size: 18px;
  }
  img {
    width: auto;
    height: 50px;
    padding: 0px 15px;
  }
  p{
    font-size: 16px;
  }
  .project{
    height: 15px;
    font-weight: 500;
    font-size: 12px;
  }
  .contact a {
    margin: 0px 25px;
  }
}
@media screen and (max-width: 600px) {
  *{
    font-size: 20px;
  }
  .navbar{
    top: 0;
  }
  .navlinks{
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .about, .proj, .reachMe{
    width: 100%;
  }
  p, a {
    font-size: 15px;
  }
  .project {
    width: 120px;
    margin: 5px;
  }
  hr {
    width: 50%;
  }
  .contact {
    bottom: 0;
  }
  .contact a,
  .discord {
    width: 80px;
    margin: 5px;
  }
}