html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}
nav {
  position: fixed;
  z-index: 1;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 25%;
  color: #393e46;
  background-color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  outline: none;
  transition: all 0.5s ease-in;
}
nav a {
  backdrop-filter: blur(10px) saturate(130%);
}
nav a:hover {
  background: transparent;
}
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, #8280ff, #4f92ce);
  color: white;
  height: 100vh;
}
#home p {
  opacity: 0;
  animation: 1s fadeIn forwards ease 1s;
}
.name h1:nth-child(1) {
  animation: 1s floatInBottom ease;
}
.name h1:nth-child(2) {
  animation: 1s floatInTop ease;
}

.circle {
  position: absolute;
  fill: #3b92dd83;
  top: -22%;
  left: -17%;
  filter: drop-shadow(10px 0 10px rgba(0, 0, 0, 0.2));
}
#about {
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: flex-start;
  color: black;
  background: linear-gradient(to right, #fb929e, #df9755);
  height: 100vh;
}
.svg {
  width: 50%;
  height: auto;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
}
.svg:nth-child(1) {
  width: 30%;
  margin-left: 10%;
}
#about p {
  margin-left: 20%;
  margin-right: 5%;
  display: block;
  width: 500px;
}
#project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to right, #6f6ddb, #4f92ce);
  height: 100vh;
  color: white;
}
.projectContainer {
  display: flex;
  margin-top: 10%;
  justify-content: space-evenly;
}
#project a {
  box-shadow: none;
  width: 15%;
  border-radius: 10px;
}
#project a:hover {
  color: black;
  background-color: #eeeeee75;
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to left, #fb929e, #df9755);
  height: 100vh;
  color: black;
}
#contact p {
  margin-top: 100px;
}
.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 50%;
}
.links a {
  box-shadow: none;
}
.links a:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.links a:nth-child(1):hover::after {
  opacity: 1;
}
.links a:nth-child(1)::after {
  position: absolute;
  content: "quickersilver#3149";
  font-size: smaller;
  z-index: 10;
  padding-top: 5%;
  color: white;
  transition: all 0.5s ease;
  pointer-events: all;
  opacity: 0;
}
#contact a {
  cursor: pointer;
  height: 150px;
  width: 150px;
  background: transparent;
}
.links img {
  cursor: pointer;
}
.links img:hover {
  filter: invert(20%);
}

@keyframes floatInTop {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes floatInBottom {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 900px) {
  #about {
    flex-direction: column;
    justify-content: space-around;
  }
  #about * {
    margin: 0 !important;
  }
  .projectContainer a {
    width: 20% !important;
  }
}
@media screen and (max-width: 600px) {
  nav {
    height: 7vh;
  }
  nav a {
    height: 7vh;
  }
  #about,
  #project,
  #contact {
    flex-direction: column;
  }
  .projectContainer {
    height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .projectContainer a {
    width: 150px !important;
  }
  .svg:nth-child(1) {
    margin-left: 0px;
    width: 80%;
  }
  .svg:nth-child(2) {
    width: 80%;
  }
  #about {
    justify-content: space-evenly;
  }
  #about p {
    margin: 0px;
    width: auto;
  }
  .links {
    width: 70%;
  }
  #contact a {
    height: 100px;
    width: 100px;
  }
  .links a:nth-child(1)::after {
    padding-top: 15%;
  }
  #contact {
    height: 100vh;
  }
  #contact p {
    margin-top: 0;
  }
}
